services:
  yoggi:
    build: 
      dockerfile: ./Dockerfile.dev
    ports:
      - 8000:8000
    environment:
      - OIDC_PROVIDER=http://nyckeln:7003
      - OIDC_ID=client-id-hi
      - OIDC_SECRET=client-secret-hi
      - REDIRECT_URL=http://localhost:8000
      - JWT_SECRET=jwt-secret
      - PORT=8000
      - S3_BUCKET=dsekt-assets
      - AWS_SECRET_ACCESS_KEY=aaaa
      - AWS_ACCESS_KEY_ID=aaaa
      # Makes python prints appear properly in the container logs.
      - PYTHONUNBUFFERED=TRUE
    configs:
      - source: nginx.conf
        target: /etc/nginx/nginx.conf
  nyckeln:
    image: ghcr.io/datasektionen/nyckeln-under-dorrmattan:latest
    configs:
      - source: nyckeln.yaml
        target: /config.yaml
    ports:
      - 7001:7001
      - 7002:7002
      - 7003:7003
      - 7004:7004

configs:
  nginx.conf:
    content: | 
      events {}

      http {
        server {
          listen 7003;

          location / {
            proxy_pass http://nyckeln:7003;
          }
        }
      }

  nyckeln.yaml:
    content: |
      clients:
        - id: "client-id-hi" # use this in your oidc client
          secret: "client-secret-hi" # use this in your oidc client
          redirect_uris: # URIs of your oidc client
            [
              http://localhost:8000,
            ]

      users:
        - ug_kth_id: some-id
          kth_id: turetek
          email: turetek@kth.se
          first_name: Ture
          family_name: Teknolog
          hive_tags:
            - id: personal_email
              content: turetek@gmail.com

      hive:
        groups:
          - name: Systemansvarig
            id: d-sys
            domain: example.com
            members:
              - turetek
            permissions:
              - id: access
                scope: '*'
