[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
boto3-stubs = "*"

[packages]
boto3 = "*"
python-magic = "*"
requests = "*"
gunicorn = "*"
Flask = "*"
Flask-Cors = "*"
authlib = "*"
pyjwt = "*"

[requires]
python_version = "3.13"
